// 常に下にスクロールする
$(function scroll() {
  $("html,body").animate({scrollTop: $("#dialogue").height()}, 1500);
});

// ページトップに戻るボタン
$(function() {
  var topBtn = $('#page-top');
  topBtn.hide();
  //スクロールが100に達したらボタン表示
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      topBtn.fadeIn();
    } else {
      topBtn.fadeOut();
    }
  });
  //スクロールしてトップ
  topBtn.click(function () {
    $('body,html').animate({
      scrollTop: 0
    }, 500);
    return false;
  });
});

// スタート
<% if params['start'] then %>
  quiz();
<% end %>


function debug() {
  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">id：<%= @id %> 解答候補：<%= @question %> 正答：<%= @right %></font></div>');
};

// 問題
function quiz() {
  //debug();
  for (var i = 0; i < gon.res.length; i++) {
    $("#dialogue").append('<div class="label label-'+ gon.erratum[gon.res[i]] +'">'+ (i+1) + '</div>&nbsp;');
  }
  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">第' + (gon.cnt) + '問 &emsp;<%= @prob %></font></div>');
  $("#dialogue").append('<div class="well"><%= form_for("drill", :method => :post, :remote => true, :id => "select") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &emsp;<% @question.shuffle.each do |val| %><%= button_tag(type: "submit", class: "btn btn-primary", name: val, id: val) do %> <%= val %> <% end %>&emsp;<% end %><%= button_tag(type: "submit", class: "btn btn-default", name: "pass", id: "pass") do %> パスをする <% end %><% end %></div>');

  <% @question.each do |val| %>
    $("#<%= val %>").click(function(){
      <% if val == @right then %>
        gon.res[gon.cnt-1] = 1;
        $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">正解です。次の問題に進みましょう。</font></div>');
        $("#dialogue").append('<div class="well"><%= form_for("drill", :method => :post, :remote => true, :id => "start") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "correct", id: "correct") do %> OK <% end %><% end %></div>');
      <% else %>
        gon.res[gon.cnt-1] = -1;
        $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">違います。正解は、<%= @right %>です。</font></div>');
        $("#dialogue").append('<div class="well"><%= form_for("drill", :method => :post, :remote => true, :id => "start") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "wrong", id: "wrong") do %> OK <% end %><% end %></div>');
      <% end %>
    });
  <% end %>
};

// 次の問題
function next() {
  gon.cnt += 1;
  if (gon.cnt <= 20) {
    quiz();
  } else if (gon.cnt > 20 ) {
    $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">お疲れ様でした。ドリル&プラクティスを終了します。</font></div>');
  }
};

// 正解
<% if params['correct'] then %>
  next();
<% end %>
// 不正解
<% if params['wrong'] then %>
  next();
<% end %>

// パス
<% if params['pass'] then %>
  gon.res[gon.cnt-1] = 2;
  next();
<% end %>

