// 常に下にスクロールする
$(function scroll() {
  $("html,body").animate({scrollTop: $("#dialogue").height()}, 1500);
});

// ページトップに戻るボタン
$(function() {
  var topBtn = $('#page-top');
  topBtn.hide();
  //スクロールが100に達したらボタン表示
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      topBtn.fadeIn();
    } else {
      topBtn.fadeOut();
    }
  });
  //スクロールしてトップ
  topBtn.click(function () {
    $('body,html').animate({
      scrollTop: 0
    }, 500);
    return false;
  });
});

function quiz() {
  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">第<%= @@cnt + 1 %>問 &emsp;<%= @question[0][0] %></font></div>');
  $("#dialogue").append('<div class="well"><%= form_for("drill", :method => :post, :remote => true, :id => "select") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "right", id: "right") do %> <%= @question[0][1] %> <% end %>&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-default", name: "pass", id: "pass") do %> パスをする <% end %><% end %></div>');
  <% @@cnt += 1 %>
};

if ( <%= @is_start %>  ) {
  quiz();
}

if ( <%= @is_right %> ) {
  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">正解です。</font></div>');
  if ( <%= @@cnt <= 20 %>  ) {
    quiz();
  }
}
