// 常に下にスクロールする
$(function scroll() {
  $("html,body").animate({scrollTop: $("#dialogue").height()}, 1500);
});

// ページトップに戻るボタン
$(function() {
  var topBtn = $('#page-top');
  topBtn.hide();
  //スクロールが100に達したらボタン表示
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      topBtn.fadeIn();
    } else {
      topBtn.fadeOut();
    }
  });
  //スクロールしてトップ
  topBtn.click(function () {
    $('body,html').animate({
      scrollTop: 0
    }, 500);
    return false;
  });
});

// 正規化されたレーベンシュタイン距離の値を表示
if (<%= @problem %>) {  // 問題文のボタンが押されたら
  $("#console").append("<%= Time.zone.now %><br><br>");
  $("#console").append("問題文に「<%= $txt %>」が入力されました。<br><br>");
  $("#console").append("entity として <%= $e %> を抽出しました。<br><br>");
  $("#console").append("attribute として <%= $a %> を抽出しました。<br><br>");
  $("#console").append("entityの正規化されたレーベンシュタイン距離の値を計算します。<br><br>");
  $("#console").append("<% @data.each do |datum| %><%= $e %> : <%= datum.ent %> = <% ld = Levenshtein.normalized_distance($e,datum.ent)%><% if ld == 0 then %><% @is_conf_e = true %><font color='green'><%= ld %></font><% elsif (0.01..0.50).include?(ld) then %><% @conf_e.push(datum.ent) %><font color='red'><%= ld %></font><% else %><%= ld %><% end %><br><% end %><br>");
  $("#console").append("attributeの正規化されたレーベンシュタイン距離の値を計算します。<br><br>");
  $("#console").append("<% @data.each do |datum| %><%= $a %> : <%= datum.att %> = <% ld = Levenshtein.normalized_distance($a,datum.att)%><% if ld == 0 then %><% @is_conf_a = true %><font color='green'><%= ld %></font><% elsif (0.01..0.50).include?(ld) then %><% @conf_a.push(datum.att) %><font color='red'><%= ld %></font><% else %><%= ld %><% end %><br><% end %><br>");

  // 別名定義
  if (<%= @has_alias %>) {  // 別名定義が存在する場合
      <% # @conf_e.push(@alias_def) %>
      $("#console").append("別名定義:<%= $e %>の別名は<%= @alias_def %><br><br>");
  }

  // 別名定義(正答)
  if (<%= @has_alias_r %>) {  // 別名定義が存在する場合
    <% @conf_r.push(@alias_def_r) %>
    $("#console").append("別名定義:<%= $right %>の別名は<%= @alias_def_r%><br><br>");
  }

  <% if @is_conf_e then %><% @conf_e.clear %><% end %>
  <% if @is_conf_a then %><% @conf_a.clear %><% end %>
  $("#console").append("entityのマッチング候補：<%= @conf_e %> 確定：<%= @is_conf_e %><br><br>");
  $("#console").append("attributeのマッチング候補：<%= @conf_a %> 確定：<%= @is_conf_a %><br><br>");

// entityの推定
  if ((<%= @conf_e.count %> > 0)) {
    <% @conf_e.compact! %> // nilを除外
    <% @conf_e.uniq! %>
    $("#console").append("もしかして、 <%= $e %> は <%= @conf_e.join(" か ") %> ですか？<br><br>");
    $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">もしかして、 <%= $e %> は <%= @conf_e.join(" か ") %> ですか？</font></div>');
    $("#dialogue").append('<div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "ce") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<% @conf_e.each_with_index do |ce, i| %><%= button_tag(type: "submit", class: "btn btn-primary", name: ce, id: ce) do %> <%= ce %> <% end %>&nbsp;&nbsp;<% end %><%= button_tag(type: "submit", class: "btn btn-default", name: "nohit", id: "nohit") do %> 該当なし <% end %><% end %></div>');
    <% @conf_e.each do |ce| %>
      $("#<%=ce%>").click(function(){
        $("#console").append("<%= Time.zone.now %><br><br>");
        $("#console").append("entityを <%= ce %> に変更しました。<br><br>");
        $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3"><%= $e %> を <%= ce %> に変更しました。</font></div>');
        <% $txt = ce + "の" + $a + "は何ですか？"  %>
        $("#dialogue").append('<%= form_for('demo', :method => :post, :remote => true, :id => "ajx", html: {'name' => 'demo' ,'data-parsley-validate' => '', 'parsley-use-html5-constraints' => false}) do %><div class="well"><div class="form-inline form-group"><div class="form-group"><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %> &nbsp;&nbsp;<%= text_field_tag('ajx[problem]', $txt, size: '60', class: 'form-control', placeholder: '例） X の Y は何ですか？') %></div>&nbsp;&nbsp;<div class="form-group"><%= button_tag(type: "submit", class: "btn btn-primary", id: "problem", name: "problem", onclick: "scroll()") do %><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 作成 <% end %></div></div></div> <% end %>');
      });
    <% end %>
  }
// attributeの推定
  if ((<%= @conf_a.count %> > 0) && <%= @is_conf_e %>) {
    <% @conf_a.compact! %> // nilを除外
    <% @conf_a.uniq! %>
    $("#console").append("もしかして、 <%= $a %> は <%= @conf_a.join(" か ") %> ですか？<br><br>");
    $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">もしかして、 <%= $a %> は <%= @conf_a.join(" か ") %> ですか？</font></div>');
    $("#dialogue").append('<div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "ca") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<% @conf_a.each_with_index do |ca, i| %><%= button_tag(type: "submit", class: "btn btn-primary", name: ca, id: ca) do %> <%= ca %> <% end %>&nbsp;&nbsp;<% end %><%= button_tag(type: "submit", class: "btn btn-default", name: "nohit", id: "nohit") do %> 該当なし <% end %><% end %></div>');
  }
  <% @conf_a.each do |ca| %>
    $("#<%=ca%>").click(function(){
      $("#console").append("<%= Time.zone.now %><br><br>");
      $("#console").append("attributeを <%= ca %> に変更しました。<br><br>");
      $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3"><%= $a %> を <%= ca %> に変更しました。</font></div>');
      <% $txt = $e + "の" + ca + "は何ですか？"  %>
      $("#dialogue").append('<%= form_for('demo', :method => :post, :remote => true, :id => "ajx", html: {'name' => 'demo' ,'data-parsley-validate' => '', 'parsley-use-html5-constraints' => false}) do %><div class="well"><div class="form-inline form-group"><div class="form-group"><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %> &nbsp;&nbsp;<%= text_field_tag('ajx[problem]', $txt, size: '60', class: 'form-control', placeholder: '例） X の Y は何ですか？') %></div>&nbsp;&nbsp;<div class="form-group"><%= button_tag(type: "submit", class: "btn btn-primary", id: "problem", name: "problem", onclick: "scroll()") do %><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 作成 <% end %></div></div></div> <% end %>');
    });
  <% end %>
}

// 作問できませんが入力された場合
if (<%= @transition%>) {
  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">では、“<%= @target %>” について作問してみましょう。作問できますか？</font></div>');
  $("#dialogue").append('<div class="fix"><div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "is_sakumon") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "sakumon_yes", id: "sakumon_yes") do %> Yes <% end %>&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-default", name: "sakumon_no", id: "sakumon_no") do %> No <% end %><% end %></div></div>');
  //$("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">では、“K”に関する問題を解いてみましょう。</font></div>');
  //$("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">次の問題に答えなさい。<br>&emsp;&emsp;&emsp;&nbsp;「Kの炎色反応は何色ですか？」</font></div>');
  //$("#dialogue").append('<div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "ca") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<% @choices.each_with_index do |ca, i| %><%= button_tag(type: "submit", class: "btn btn-primary", name: ca, id: ca) do %> <%= ca %> <% end %>&nbsp;&nbsp;<% end %><%= button_tag(type: "submit", class: "btn btn-default", name: "pass", id: "pass") do %> パスをする <% end %><% end %></div>');
}

//<% if params["赤紫色"] %>
//  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">正解です。</font></div>');
//<% end %>

// パスをするが選択されたら
if (<%= @is_pass %>) {
  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">では、“Na”に関する問題を解いてみましょう。</font></div>');
}

// 該当なしが選択されたら
if (<%= @nohit %>) {
  <% $txt = $e + "の" + $a + "は何ですか？" %>
  $("#console").append("<%= Time.zone.now %><br><br>");
  $("#console").append("該当なしが選択されました。<br><br>");
}

// 入力された問題文が正しければ、形態素解析の結果を表示
if (<%= @prob %>) { // 問題文が入力
  $("#problem").prop('disabled', 'disabled'); // ボタンを押せなくする
  if (<%= @problem %>) {
    $("#console").append("問題文「<%= $txt %>」が正しいと判断しました。<br><br>");
    $("#console").append("entity に <%= $e %> を設定しました。<br><br>");
    $("#console").append("attribute に <%= $a %> を設定しました。<br><br>");
  }
  if (!<%= @create %> && !<%= @transition %>) {  // 問題文が正しい場合
    $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">入力された問題文を正しいと判断しました。</font></div>');
    $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">正答と誤答3つを入力してください。</font></div><div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "ajx2", html: {"data-parsley-validate" => "", "parsley-use-html5-constraints" => false}) do %><div class="field"><div class="col-xs-3"><%= text_field_tag('ajx2[right]', nil, class: 'form-control', placeholder: '正答', 'required' => '', :autocomplete => :off) %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong1]', nil, class: 'form-control', placeholder: '誤答1', 'required' => '', :autocomplete => :off) %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong2]', nil, class: 'form-control', placeholder: '誤答2', 'required' => '', :autocomplete => :off) %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong3]', nil, class: 'form-control', placeholder: '誤答3', 'required' => '', :autocomplete => :off) %></div><br><br><br><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %>&nbsp;&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "create", id: "create") do %> 作成 <% end %></div><% end %></div>');
  }
} else if (!<%= @transition %>) { // 問題文が正しくない場合
  $("#problem").prop('disabled', 'disabled');
  if ((<%= @problem %> && <%= @conf_e.count %> == 0 && <%= @conf_a.count %> == 0) || (<%= @nohit %>)) {
    $("#console").append("問題文が正しくありません。<br>問題を作り直しますか？<br><br>");
    $("#dialogue").append('<div class="fix"><div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">問題文が正しくありません。 元の文章を使って問題を作り直しますか？</font></div></div>');
    $("#dialogue").append('<div class="fix"><div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "is_fix") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "fix_yes", id: "fix_yes") do %> Yes <% end %>&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-default", name: "fix_no", id: "fix_no") do %> No <% end %><% end %></div></div>');
  }
  if (<%= @is_fix %> == 1) {  // 元の文章を使う
    $("#fix_yes").prop('disabled', 'disabled');
    $("#fix_no").prop('disabled', 'disabled');
    $("#dialogue").append('<%= form_for('demo', :method => :post, :remote => true, :id => "ajx", html: {'name' => 'demo' ,'data-parsley-validate' => '', 'parsley-use-html5-constraints' => false}) do %><div class="well"><div class="form-inline form-group"><div class="form-group"><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %> &nbsp;&nbsp;<%= text_field_tag('ajx[problem]', $txt, size: '60', class: 'form-control', placeholder: '例） X の Y は何ですか？') %></div>&nbsp;&nbsp;<div class="form-group"><%= button_tag(type: "submit", class: "btn btn-primary", id: "problem", name: "problem", onclick: "scroll()") do %><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 作成 <% end %></div></div></div> <% end %>');
  } else if (<%= @is_fix %> == 0) { // 元の文章を使わない
    $("#dialogue").append('<div class="fix"><div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">新しく問題を作り直しますか？</font></div></div>');
    $("#dialogue").append('<div class="fix"><div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "is_fix") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "new_yes", id: "new_yes") do %> Yes <% end %>&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-default", name: "new_no", id: "new_no") do %> No <% end %><% end %></div></div>');
    $("#fix_yes").prop('disabled', 'disabled');
    $("#fix_no").prop('disabled', 'disabled');
  } else if (<%= @is_new %> == 1) {
    $("#dialogue").append('<%= form_for('demo', :method => :post, :remote => true, :id => "ajx", html: {'name' => 'demo' ,'data-parsley-validate' => '', 'parsley-use-html5-constraints' => false}) do %><div class="well"><div class="form-inline form-group"><div class="form-group"><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %> &nbsp;&nbsp;<%= text_field_tag('ajx[problem]', nil, size: '60', class: 'form-control', placeholder: '例） X の Y は何ですか？') %></div>&nbsp;&nbsp;<div class="form-group"><%= button_tag(type: "submit", class: "btn btn-primary", id: "problem", name: "problem", onclick: "scroll()") do %><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 作成 <% end %></div></div></div> <% end %>');
  } else if (<%= @is_new %> == 0) {
    $("#dialogue").append('<div class="fix"><div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">入力された問題文は、ASQにとって未知の問題です。<br>　　　&nbsp;入力した問題文に対する正答と誤答を入力して、ASQに教えてください。</font></div></div>');
    $("#dialogue").append('<div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "ajx2", html: {"data-parsley-validate" => "", "parsley-use-html5-constraints" => false}) do %><div class="field"><div class="col-xs-3"><%= text_field_tag('ajx2[right]', $right_sub, class: 'form-control', placeholder: '正答', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong1]', $wrong1, class: 'form-control', placeholder: '誤答1', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong2]', $wrong2, class: 'form-control', placeholder: '誤答2', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong3]', $wrong3, class: 'form-control', placeholder: '誤答3', 'required' => '') %></div><br><br><br><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %>&nbsp;&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "create", id: "create") do %> 作成 <% end %></div><% end %></div>');
  }
}

if (<%= @tern2 %>) {
  $("#console").append("<%= Time.zone.now %><br><br>");
  $("#console").append("正答：<%= $right %> 誤答1：<%= $wrong1 %> 誤答2：<%= $wrong2 %> 誤答3：<%= $wrong3 %><br><br>");
  $("#console").append("正答の正規化されたレーベンシュタイン距離の値を計算します。<br><br>");
    <% if !$right.nil? %>
      $("#console").append("<% @data.each do |datum| %><%= $right %> : <%= datum.val %> = <% ld = Levenshtein.normalized_distance($right,datum.val)%><% if ld == 0 then %><% @is_conf_r = true %><font color='green'><%= ld %></font><% elsif (0.01..0.50).include?(ld) then %><% @conf_r.push(datum.val) %><font color='red'><%= ld %></font><% else %><%= ld %><% end %><br><% end %><br>");
    <% end %>
    <% if !@has_alias_r && @is_conf_r %> // バグ
      <% @conf_r.compact! %> // nilを除外
      //("#console").append("<%= @conf_r %><br><br>");
      <% @conf_r.clear %>
    <% end %>
    $("#console").append("正答のマッチング候補：<%= @conf_r %> 確定：<%= @is_conf_r %><br><br>");

    // 正答の推定
    if (<%= @conf_r.count > 0 %>) {
      <% @conf_r.uniq! %>
      $("#console").append("もしかして、 <%= $right %> は <%= @conf_r.join(" か ") %> ですか？<br><br>");
      $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">もしかして、 <%= $right %> は <%= @conf_r.join(" か ") %> ですか？</font></div>');
      $("#dialogue").append('<div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "cr") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<% @conf_r.each_with_index do |cr, i| %><%= button_tag(type: "submit", class: "btn btn-primary", name: cr, id: cr) do %> <%= cr %> <% end %>&nbsp;&nbsp;<% end %><%= button_tag(type: "submit", class: "btn btn-default", name: "nohit_r", id: "nohit_r") do %> 該当なし <% end %><% end %></div>');
      <% @conf_r.each do |cr| %>
        $("#<%=cr%>").click(function(){
          $("#console").append("<%= Time.zone.now %><br><br>");
          $("#console").append("正答を <%= cr %> に変更しました。<br><br>");
          $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3"><%= $right %> を <%= cr %> に変更しました。</font></div>');
          <% $right_sub = cr %>
          $("#dialogue").append('<div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "ajx2", html: {"data-parsley-validate" => "", "parsley-use-html5-constraints" => false}) do %><div class="field"><div class="col-xs-3"><%= text_field_tag('ajx2[right]', $right_sub, class: 'form-control', placeholder: '正答', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong1]', $wrong1, class: 'form-control', placeholder: '誤答1', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong2]', $wrong2, class: 'form-control', placeholder: '誤答2', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong3]', $wrong3, class: 'form-control', placeholder: '誤答3', 'required' => '') %></div><br><br><br><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %>&nbsp;&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "create", id: "create") do %> 作成 <% end %></div><% end %></div>');
        });
      <% end %>
  }

  $("#console").append("正答に <%= $right %> を設定しました。<br><br>");
  $("#console").append("誤答1に <%= $wrong1 %> を設定しました。<br><br>");
  $("#console").append("誤答2に <%= $wrong2 %> を設定しました。<br><br>");
  $("#console").append("誤答3に <%= $wrong3 %> を設定しました。<br><br>");
}

    // 該当なしが選択されたら
    <% if @nohit_r %>
      $("#console").append("<%= Time.zone.now %><br><br>");
      $("#console").append("nohit_r<br><br>");
      $("#dialogue").append('<div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "ajx2", html: {"data-parsley-validate" => "", "parsley-use-html5-constraints" => false}) do %><div class="field"><div class="col-xs-3"><%= text_field_tag('ajx2[right]', $right, class: 'form-control', placeholder: '正答', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong1]', $wrong1, class: 'form-control', placeholder: '誤答1', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong2]', $wrong2, class: 'form-control', placeholder: '誤答2', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong3]', $wrong3, class: 'form-control', placeholder: '誤答3', 'required' => '') %></div><br><br><br><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %>&nbsp;&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "create", id: "create") do %> 作成 <% end %></div><% end %></div>');
    <% end %>

if (<%= @finish %>) {
  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">問題文:&nbsp;&nbsp;<b><%= $txt %></b><br>　　　&nbsp;正答:&nbsp;&nbsp;<b><%= $right %></b>&nbsp;&nbsp;&nbsp;誤答1:&nbsp;&nbsp;<b><%= $wrong1 %></b>&nbsp;&nbsp;&nbsp;誤答2:&nbsp;&nbsp;<b><%= $wrong2 %></b>&nbsp;&nbsp;&nbsp;誤答3:&nbsp;&nbsp;<b><%= $wrong3 %></b><br><br>　　　&nbsp;上記の問題がASQに登録されました。</font></div>');
  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">良い問題ですね。</font></div>');
  $("#console").append("<%= Time.zone.now %><br><br>");
  $("#console").append("理解度<br>");
  $("#console").append("<%= @intelli.sort {|a,b| b[1] <=> a[1]}.reverse! %><br><br>");
  $("#console").append("残数<br>");
  $("#console").append("<%= @remain.sort {|a,b| a[1] <=> b[1]}.reverse! %><br><br>");
  <% @intelli.sort {|a,b| b[1] <=> a[1]}.reverse! %>
  <% @intelli.sort {|a,b| b[1] <=> a[1]}.reverse! %>
  //$("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">Baについて、もっと作問してみましょう。作問できますか？</font></div>');
  //$("#dialogue").append('<div class="fix"><div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "is_sakumon") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "sakumon_yes", id: "sakumon_yes") do %> Yes <% end %>&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-default", name: "sakumon_no", id: "sakumon_no") do %> No <% end %><% end %></div></div>');
  //$("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">Baについて詳しいですか？次はBaで作問してみましょう。作問できますか？</font></div>');
  //$("#dialogue").append('<div class="fix"><div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "is_sakumon") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "sakumon_yes", id: "sakumon_yes") do %> Yes <% end %>&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-default", name: "sakumon_no", id: "sakumon_no") do %> No <% end %><% end %></div></div>');
} else if (<%= @tern2 %> && <%= @conf_r.count == 0 %>) {
  if (<%= @right_error %>) {
    $("#finish").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">正答が間違っています。　正しくは、 <%= $e %> の <%= $a %> は <%= @correct %> です。</font></div>');
  }
  if (<%= @wrong1_error %>) {
    $("#finish").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">誤答1が間違っています。　「<%= $e %> の <%= $a %> は <%= $wrong1 %>」 は正しいです。</font></div>');
  }
  if (<%= @wrong2_error %>) {
    $("#finish").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">誤答2が間違っています。　「<%= $e %> の <%= $a %> は <%= $wrong2 %>」 は正しいです。</font></div>');
  }
  if (<%= @wrong3_error %>) {
    $("#finish").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">誤答3が間違っています。　「<%= $e %> の <%= $a %> は <%= $wrong3 %>」 は正しいです。</font></div>');
  }
  $("#console").append("理解度<br><br>");
}
