$(function scroll() {
  $('#dialogue').animate({scrollTop: $('#dialogue')[0].scrollHeight - $("#dialogue").height()}, 'slow');
  $('#console').animate({scrollTop: $('#console')[0].scrollHeight - $("#console").height()}, 'slow');
});


if (<%= @problem %>) {
$("#console").append("<% @data.each do |datum| %><%= $e %> : <%= datum.ent %> = <% ld = Levenshtein.normalized_distance($e,datum.ent)%><% if (0.01..0.50).include?(ld) then %><font color='red'><%= ld %></font><% else %><%= ld %><% end %><br><% end %><br>");
$("#console").append("<% @data.each do |datum| %><%= $a %> : <%= datum.att %> = <% ld = Levenshtein.normalized_distance($a,datum.att)%><% if (0.01..0.50).include?(ld) then %><font color='red'><%= ld %></font><% else %><%= ld %><% end %><br><% end %><br>");
}

if (<%= @prob %>) {
  $("#problem").prop('disabled', 'disabled');
  if (<%= @problem %>) {
    $("#console").append("問題文「<%= $txt %>」が入力されました。<br><br>");
    $("#console").append("entity に <%= $e %> を設定しました。<br><br>");
    $("#console").append("attribute に <%= $a %> を設定しました。<br><br>");
  }
  if (!<%= @create %>) {
    $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">正答と誤答3つを入力してください。</font></div><div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "ajx2", html: {"data-parsley-validate" => "", "parsley-use-html5-constraints" => false}) do %><div class="field"><div class="col-xs-3"><%= text_field_tag('ajx2[right]', nil, class: 'form-control', placeholder: '正答', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong1]', nil, class: 'form-control', placeholder: '誤答1', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong2]', nil, class: 'form-control', placeholder: '誤答2', 'required' => '') %></div><div class="col-xs-3"><%= text_field_tag('ajx2[wrong3]', nil, class: 'form-control', placeholder: '誤答3', 'required' => '') %></div><br><br><br><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %>&nbsp;&nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "create", id: "create") do %> 作成 <% end %></div><% end %></div>');
  }
} else {
  $("#problem").prop('disabled', 'disabled');
  if (<%= @problem %>) {
  $("#console").append("問題文が正しくありません。<br>問題を作りなおしてください。<br><br>");
  $("#dialogue").append('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">問題文が正しくありません。 元の文章を使って問題を作り直しますか？</font></div>');
  $("#dialogue").append('<div class="well"><%= form_for("demo", :method => :post, :remote => true, :id => "is_fix") do %><%= image_tag "person.png", :size => "40x40", :align => "middle" %> &nbsp;&nbsp;<%= button_tag(type: "submit", class: "btn btn-primary", name: "fix_yes", id: "fix_yes") do %> Yes <% end %>&nbsp;&nbsp<%= button_tag(type: "submit", class: "btn btn-default", name: "fix_no", id: "fix_no") do %> No <% end %><% end %></div>');
  }
  if (<%= @is_fix %> == 1) {
    $("#fix_yes").prop('disabled', 'disabled');
    $("#fix_no").prop('disabled', 'disabled');
    $("#dialogue").append('<%= form_for('demo', :method => :post, :remote => true, :id => "ajx", html: {'name' => 'demo' ,'data-parsley-validate' => '', 'parsley-use-html5-constraints' => false}) do %><div class="well"><div class="form-inline form-group"><div class="form-group"><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %> &nbsp;&nbsp;<%= text_field_tag('ajx[problem]', $txt, size: '60', class: 'form-control', placeholder: '例） X の Y は何ですか？') %></div>&nbsp;&nbsp;<div class="form-group"><%= button_tag(type: "submit", class: "btn btn-primary", id: "problem", name: "problem", onclick: "scroll()") do %><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 作成 <% end %></div></div></div> <% end %>');
  } else if (<%= @is_fix %> == 0) {
    $("#fix_yes").prop('disabled', 'disabled');
    $("#fix_no").prop('disabled', 'disabled');
    $("#dialogue").append('<%= form_for('demo', :method => :post, :remote => true, :id => "ajx", html: {'name' => 'demo' ,'data-parsley-validate' => '', 'parsley-use-html5-constraints' => false}) do %><div class="well"><div class="form-inline form-group"><div class="form-group"><%= image_tag 'person.png', :size => '40x40', :align => 'middle' %> &nbsp;&nbsp;<%= text_field_tag('ajx[problem]', nil, size: '60', class: 'form-control', placeholder: '例） X の Y は何ですか？') %></div>&nbsp;&nbsp;<div class="form-group"><%= button_tag(type: "submit", class: "btn btn-primary", id: "problem", name: "problem", onclick: "scroll()") do %><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 作成 <% end %></div></div></div> <% end %>');
  } else {
  }
}

if (<%= @tern2 %>) {
  $("#console").append("正答に <%= $right %> を設定しました。<br><br>");
  $("#console").append("誤答1に <%= $wrong1 %> を設定しました。<br><br>");
  $("#console").append("誤答2に <%= $wrong2 %> を設定しました。<br><br>");
  $("#console").append("誤答3に <%= $wrong3 %> を設定しました。<br><br>");
}

if (<%= @finish %>) {
  $("#finish").html('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">良い問題ですね。</font></div>');
} else if (<%= @tern2 %>) {
  $("#finish").html('<div class="well"><%= image_tag "pc.png", :size => "40x32", :align => "middle" %> &nbsp;&nbsp;<font size="3">間違っています。</font></div>');
}

