<ul class="nav nav-tabs">
  <li><a href="#create" data-toggle="tab">作問画面</a></li>
  <li><a href="#inner" data-toggle="tab">内部処理</a></li>
  <li><a href="#knowledge" data-toggle="tab">知識状態</a></li>
</ul>

<p id="page-top"><a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></p>

<div class="tab-content">
  <div class="tab-pane fade in active" id="create">
    <br><br>
    <div id="dialogue">
    <div class="well">
      <%= image_tag 'pc.png', :size => '40x32', :align => 'middle' %> &nbsp;&nbsp;
      <font size="3">問題文を入力してください。</font>
    </div>
    <%= form_for('demo', :method => :post, :remote => true, :id => "ajx", html: {'name' => 'demo' ,'data-parsley-validate' => '', 'parsley-use-html5-constraints' => false, :autocomplete => :off}) do %>
      <div class="well">
        <div class="form-inline form-group">
          <div class="form-group">
            <%= image_tag 'person.png', :size => '40x40', :align => 'middle' %> &nbsp;&nbsp;
            <%= text_field_tag('ajx[problem]', nil, size: '60', class: 'form-control', placeholder: '例） X の Y は何ですか？') %>
          </div>
          <div class="form-group">
            <%= button_tag(type: "submit", class: "btn btn-primary", id: "problem", name: "problem") do %>
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> 作成
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div id="finish"></div>
  </div>
  <div class="tab-pane fade" id="inner">
    <br><br>
    <pre class="console">
      <div id="console"></div>
      <div id="ld_e"></div>
      <div id="ld_a"></div>
    </pre>
  </div>
  <div class="tab-pane fade" id="knowledge">
    <br><br>
    <button type="submit", class="btn btn-primary", onclick="toggle(1)"> 表形式 </button>
    <button type="submit", class="btn btn-primary", onclick="toggle(2)"> 意味ネットワーク </button>
    <div align="right">
      <%= form_for("demo", :method => :post, :remote => true, :id => "reset", :data => { :confirm => '本当にリセットしますか？'}) do %><%= button_tag(type: "submit", class: "btn btn-danger", name: "reset", id: "reset") do %> リセット <% end %><% end %>
    </div>
    <br><br>
    <script>
function toggle(id) {
  if ( id == 1 ) {
    $("#knowledge-table").html("<table id='knowledge-state' border='1' class='table table-hover'><thead><tr><th>entity</th><th>attribute</th><th>value</th><th>知識状態</th></tr></thead><tbody><% @data.reload.each do |datum| %><tr class=<%= @color[datum.state] %>><td><%= datum.ent %></td><td><%= datum.att %></td><td><%= datum.val %></td><td><%= @state[datum.state] %></td></tr><% end %></tbody></table><script>\$(document).ready(function(){\$('#knowledge-state').DataTable({'paging':true,'bProcessing':true,'iDisplayLength':10});});<\/script>");
    $("#semnet").html("");
} else if ( id == 2 ) {
    $("#knowledge-table").html("");
    $("#semnet").html("<script>var nodes = [];for ( var i in gon.node ) {nodes.push({id: (gon.node[i]), label: (gon.node[i])});}var edges = [];for (var ent in gon.triad) {for ( var val in gon.triad[ent] ) {edges.push({from: ent, to: val, label: gon.triad[ent][val]});}}var container = document.getElementById('semnet');var data = {nodes: nodes,edges: edges};var options = {nodes: { shape: 'box', font: { size: 25} },edges: { arrows: 'to', font: { size: 16, align: 'top' } }};var network = new vis.Network(container, data, options);<\/script>");
  }
}
    </script>
    <div id="knowledge-table"></div>
    <div id="semnet" class="center-block"></div>
  </div>
</div>
