<% if @role == 0 %>
  <h3><%= @user %> さん</h3>
  <div><a class="btn btn-primary" href="/question/semnet">意味ネットワーク</a></div><br>
  <table border='1' class="table table-hover">
    <tr>
      <th>entity</th><th>attribute</th><th>value</th><th>知識状態</th>
    </tr>

    <% @data.each do |datum| %>
      <tr>
        <td><%= datum.ent %></td>
        <td><%= datum.att %></td>
        <td><%= datum.val %></td>
        <td class=<%= @color[datum.state] %>><%= @state[datum.state] %></td>
      </tr>
    <% end %>
  </table>
<% elsif @role == 1 %>
  <h3> teacher </h3>
<% end %>
